.Navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Nav_logo{
    /* width: 10vw; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Nav_logo p{
    /* width: 50px; */
    line-height: 15px;
    margin-top: 12%;
    margin-left: 5%;
}
.Nav_logo p span{
    font-weight: bold;
    font-size: 2vw;
}
.Logo{
    width: 3vw;
    margin-top: 1%;
    margin-left: 4%;
    border: 1px solid black;
    border-radius: 60px;
}
.Nav_search input{
    /* width: 40vw; */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f8f7;
    border: 0;
    padding: 10px 20px;
    border-radius: 100px;
    width: 150%;
    transition: all .4s;
    margin-right: -2.75rem
}
.Nav_right{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user{
    display: grid;
    align-items: center;
    justify-content: center;
}